.checkbox {
  padding-left: 35px;
  font-size: 24px;
  margin-top: 16px;
  position: relative;
  display: inline-block;
  margin: 16px;
}

input[type='checkbox'] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: #d3d3d3;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
}

.checkbox input:checked + .checkmark {
  background-color: #006400;
}
