* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}

.article {
  padding: 16px;
  margin: 8px;
  background-color: bisque;
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 300px;
}
