.square {
  width: 100px;
  height: 100px;
  background-color: #ff6347;
  transform: translate(200px, 100px) rotate(45deg) scale(1.5);
}

.text {
  margin: 0 32px;
  background-color: antiquewhite;
  display: inline-block;
  border-radius: 4px;
  padding: 8px;
}
